body{
    background-color: antiquewhite;
    font-size: 26px;
}

/* Category Card*/
.category_link{
    text-align: center;
    display: block;
    color: black;
    text-decoration: none;
    
}




